body {
  padding-top: 50px;
  background-color: black;
  
}
header{
    color: #000;
}
.navbar {
  margin-bottom: 100px;
    color: #000;
}

.carousel-item img {
  height: 300px;
  width: 300px;
  padding bottom: 300px;
  object-fit: cover;
 
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  background-position-x: 5px;
  padding-left: 250px;
  color: #fff;
 
}

footer {
  background: color #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
